.classreturn .content .search span{font-size: .7rem;color: #1E1B1B;}
/*.plus span{height: .8rem;line-height: .8rem; }*/
.plus .mp_minous, .plus .mp_plus{height: .9rem;line-height: .8rem; }
.plus ._cf_mp{width: 2rem;height: .9rem;line-height: .9rem;border: 1px solid #BFC1CD;}
.plus .mp_minous,.plus .mp_plus{border: 1px solid #BFC1CD;color: #1E1B1B;font-size: .9rem;}
.sc_list .deleshow .prices .sc_pri{margin-right: .2rem;font-size: .5rem;}
.get_mp span.disable {
    cursor: default;
    color: #BFC1CD;line-height: .8rem;
}
body{background-color: #F1F5F8;}
.loginlater{background-color: #fff;}
body{background-color: #F1F5F8;}
.sc_list{border-bottom: none;}
.sc_list .deleshow .deletes .similar-product-text{width: 100%;height:1.5rem;color: #1E1B1B;font-size: .65rem;line-height: .7rem;}
.sc_list .deleshow .weight{font-size: .55rem;color: #BFC1CD;margin: .3rem 0;}
.price{font-size: .55rem;color: #F21C51;margin-top: .2rem;}
.maleri30{padding:.32rem .64rem;box-sizing: border-box;margin: 0;background-color: #fff;}
.orderlistshpop{margin-top: .3rem;}
.foohi{height: 0;}
.hotshop .thirdlogin h4{color: #1E1B1B;}
.payit .fr a{background-color: #FF407E;}
.guesslike .add{border: none;color: #BFC1CD;}
/*.guesslike ul{display: flex;*/
/*flex-wrap: wrap;}*/
.guesslike ul{
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari 和 Chrome */
    column-count:2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;}
.guesslike ul li:nth-child(2n+1) .similer-product{float: none;}
.guesslike ul li:nth-child(2n) .similer-product{float: none;}
.guesslike ul li{width: 100%;margin-top: 0;float: none;
    position: static;border-radius: .3rem;overflow: hidden;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;padding-top: .4rem;
}
/*.guesslike ul li:first-of-type{margin: 0;}*/
/*.guesslike ul li:first-child,.guesslike ul li:nth-child(2){margin-top: 0;}*/
.guesslike ul li:nth-child(2n+1){padding-right: 0;}
/*.guesslike ul li:nth-child(even){margin-left: .3rem;}*/
/*.guesslike ul li:nth-child(odd){float: right;}*/
.likeshop{padding: 0 3%;text-align: center;}
.guesslike ul li .similer-product img{width: 100%;height: 7.3rem;}
.hot_goods_div{padding:.3rem .2rem;text-align: left;}
.thirdlogin{border-top: none;}
.similar-product-text{color: #1E1B1B;font-size: .6rem;margin-bottom: .64133rem;}
/*.cart_list{background: #fff;}*/
.nonenothing{padding: 1.4rem  0;width: 100%;background-color: #fff;padding-top: 1rem;}
.nonenothing a{border:1px solid #1E1B1B;color: #1E1B1B;width: 4rem;font-size: .58rem;display: inline-block;padding: 0;line-height: 1.3rem;border-radius: .6rem;}
.nonenothing p{padding-top:1rem;padding-bottom: .5rem;font-size: .5rem;color: #1E1B1B;}
.nonenothing img{ width:5rem;height: 4rem;}
.loginlater a{background-color: transparent;color: #D50D16;margin-left: 0;}
.sc_list .deleshow .prices{margin: 0;overflow: visible;}
/*.guesslike .likeshop{margin-top: .5rem;}*/
.loginlater span{color: #5B5858;}
.orderlists_box{overflow: hidden;}
.orderlists_box .orderlistshpop:first-of-type{margin-top: 0;}
.similar-product-price{color: #FF407E;font-size: .6rem;top: .03133rem;}
.similar-product-price .big-price{font-size: .62rem;}
.orderlistshpop{-webkit-transform: translateX(0px);position: relative;transition: all 0.2s;}
.orderlistshpop .deleteBtn{display:block;position: absolute;right: -4rem;top:0;width:4rem;height: 100%;background: #D50D16;text-align: center;
    line-height:5rem;font-size: .7rem;color: #fff;z-index: 9999;}
/*.btn{ position: absolute; top: 0; right: -80px; text-align: center; background: #ffcb20; color: #fff; width: 80px}*/
.hotshop{background: url("../../images/cf_you_like.png") no-repeat;background-size: 100%;}
.cf_choiceness{display: block;width: 2rem;height: .8rem;background-color: #ED1E31;color: #fff;font-size: .5rem;text-align: center;
    line-height: .8rem;border-radius: .5rem;margin-bottom: .4rem;}
.classreturn .content .menu i {
    width: .85333rem;
    vertical-align: middle;
    font-size: 1rem;
    color: #5B5858;
}
.classreturn{background-color: #fff;position: relative;-webkit-box-shadow: 0 .1rem .5rem 1px transparent;
    -moz-box-shadow: 0 .1rem .5rem 1px transparent;-o-box-shadow: 0 .1rem .5rem 1px transparent;}
#cf_compile {position: absolute;right: 2rem;top:.07rem;font-size: .62rem;color: #848282;}
.payit .fr a{font-size: .7rem;}
.payit .fl p{color: #FF407E;}
.payallb .youbia{padding-right: .3rem;}
.sc_list .deleshow{ width: 9.47333rem;}
.nonenothing_card{padding-top: 0;}
.cf_goods_card{width: 11rem;height: 4rem;margin: 0 auto;
    background: url("../../images/cf_goods_card.png") no-repeat;background-size: 100% 100%;margin-bottom: 0.5rem;}
.cf_noting{text-align: center;margin-top: .5rem;margin-bottom: 1rem;}
.cf_noting>img{width: 2rem;height: 1.5rem;display: inline-block;vertical-align: -.3rem;}
.cf_noting>p{display: inline-block;color: #BFC1CD;}
.cf_noting_l{width: 4rem;padding-top: .7rem;}
.cf_noting_l p{padding: 0;}
.cf_noting_l p:first-of-type{color: #fff;font-size: .65rem;}
.cf_noting_l p:last-of-type{color: #fff;font-size: 1.7rem;margin-top: .3rem;}
.cf_noting_l p:last-of-type span:first-of-type{font-size: .8rem;vertical-align:-.1rem;}
.cf_noting_r{width: 7rem;padding:.4rem .2rem;}
.cf_noting_r p{padding: 0;line-height: .6rem;text-align: left;}
.cf_noting_r .cf_mj{color: #D50D16;font-size: .52rem;padding-top: .3rem;}
.nonenothing .cf_noting_r .cf_qgg{width: 2rem;height: .8rem;margin-top: -.1rem;font-size: .5rem;line-height:.8rem;text-align: center;color: #FF407E;border-color: #FF407E;}
.nonenothing .cf_noting_r .cf_qgg.use{background: #FF407E;color: #ffffff;}
.cf_boxs>span{font-size: .45rem;color: #5B5858;}
.guesslike .add{background-color: transparent;}
.radio i{width: .7rem;height: .7rem;}
.classreturn{position: fixed;top:0;left: 0;z-index: 99999;}
.payallb .alllef .radio{padding-top: .71067rem;margin-right: .2rem;}
.payallb .alllef .radio .all{    top: -.11467rem;    margin-left: .11333rem;}
.radio .check_t i{background-position: -.768rem .07rem;}
.cf_discounts{font-size: .6rem;padding:.5rem .64rem ;background: #fff2b7;}
.cf_discounts span{padding: .1rem .2rem;background: #FBC2D1;color: #FF407E;border-radius: .5rem;font-size: .45rem;
    vertical-align: .05rem;margin-right: .3rem;}
.notice{
    position: absolute;
    display: inline-block;
    width: .7rem;
    height: .7rem;
    background-color:#ED1E31;
    color: #fff;
    border-radius: 50%;
    line-height: .7rem;
    text-align: center;
    font-size: .4rem;
    top: .2rem;
    right: -.2rem;
}
.guesslike{margin-top: -.4rem;}