body{background-color: #F3F5F7;}
.category2 {-webkit-overflow-scrolling: touch;}
.category1 {-webkit-overflow-scrolling: touch;}
.classreturn{background-color: #fff;border: none; width: 100%;}
.classreturn.loginsignup{position: fixed; top:0; -webkit-box-shadow: 0 .1rem .5rem 1px #eee;}
.classlist{overflow-y: auto;box-sizing: border-box; position: fixed;top: 2.17733rem;bottom: 2.34667rem; left: 0;right: 0;}
.classlist .fr .branchList .tp-class-list ul li a p{padding-top: .1rem;height: 1.252rem;}
.classlist .fl ul .red a{color: #FF407E;}
.classreturn .content .search .sear-input i{top:.08rem;}
.classlist .fl ul li:before{background-color: transparent;}
.classlist,.classlist .fl ul li.cur{background-color: #F3F5F7;}
.classlist .fl ul li:after{background-color: #F0F2F5;}
.classlist .fr .branchList .tp-class-list ul li:nth-child(3n+1){margin-left: 0;}
.classlist .fr .branchList .tp-class-list ul li{margin-left: 3%}
.classreturn .content .search{width: 80%;}
.classreturn .content .search .sear-input i{left: 1rem;}
.classreturn .content .search .sear-input input{text-align: left;text-indent: 1.5rem;}
.classreturn .content .return{z-index: 9;}
.classreturn .content .menu{top: 0;}
.classreturn .content .menu i{width: .85333rem;vertical-align: middle;font-size: 1rem;color: #5B5858;}
.notice{position: absolute;display: inline-block;width: .7rem;height: .7rem;background-color:#ED1E31;color: #fff;
    border-radius: 50%;line-height: .7rem;text-align: center;font-size: .4rem;top: .2rem;right: -.2rem;}
