#cart2_form{margin-top: .2rem;}
.classreturn{background: #fff;}
body{background-color: #F1F5F8;}
.fill-orderlist{margin-top: .2rem;}
.shopprice .fon_or h2.similar-product-text{height:auto;line-height: 1.3;}
.cf_distribution,.customer-messa{margin: .2rem 0;}
.incorise input[type="text"]{height: 1rem;text-align: right;width: 8rem;background-color: #fff;}
.information_title{font-size: .6rem;color: #1E1B1B;margin-left: .64rem;border-bottom: 1px solid #F0F2F5;
line-height: 1.52rem;}
.xx-list p{font-size: .6rem;color: #5B5858;}
.xx-list p .fr{color: #1E1B1B;}
.customer-messa textarea{margin: .45rem 0;}
.customer-messa textarea{height: 3rem;}
.invoice .myorder .order .fl span{font-size: .6rem;}
.invoice .myorder .order .fr span{line-height: 1.35rem;}
.shopprice .img_or{position: relative;}
.radio i input[type="radio"]{display: block;}

.shopprice .img_or .shop {width: 3.43333rem;height: 3.43333rem;border: none;}
.shopprice .img_or .pt{width:2rem;height: 1rem;position: absolute;top:0;left: 0;border: none;}
.myorder{border: none;}
.invoice .myorder7 {padding: 0;margin-left: .64rem;padding-right: .64rem;border-bottom: 1px solid #EDEEF4;}

.return_popup{position: fixed;top:0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);}
.return_pop {position: absolute;top:50%;margin-top: -3rem;width: 70%;left: 15%;background: #fff;font-size: .62rem;color:#1E1B1B;text-align: center;border-radius: .1rem;}
.return_pop p{margin: 1rem 0;}
.return_pop .return-button{
    padding-bottom:1rem;}
.return_pop .return-button a {display: inline-block;width: 35%;height: 1.3rem;line-height: 1.3rem;
    background: #FF407E;color: #FFFFFF;border-radius: .2rem;}
.return_pop .return-button a:first-of-type{background: #fff;border: 2px solid #FF407E;color: #FF407E;margin-right: .5rem;}
.return_pop i{display: block;width: 1rem;height: 1rem;position: absolute;right: .5rem;top:.3rem;font-size: .7rem;text-align: center;line-height: 1rem;}

