<include file="public/layout" />
<style>
    .err{color:#F00; display:none;}
</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>分销2.0 - 添加合伙人</h3>
                <h5>后台手动添加一个合伙人</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择一个服务商用户</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="agent_user_name" readonly name="agent_user_name" value="{$info.agent_user_name}" class="input-txt">
                    <input type="hidden" name="agent_user_id" value="{$info.agent_user_id}">
                    <span class="err" id="err_agent_user_id"></span>
                    <p class="notic">
                        <a onclick="selectUser('a')" class="ncap-btn"><i class="fa fa-search"></i>选择用户</a>
                    </p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择一个注册用户(成为合伙人)</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="user_name" readonly name="user_name" value="{$info.user_name}" class="input-txt">
                    <input type="hidden" name="user_id" value="{$info.user_id}">
                    <span class="err" id="err_user_id"></span>
                    <p class="notic">
                        <a onclick="selectUser()" class="ncap-btn"><i class="fa fa-search"></i>选择用户</a>
                    </p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>开始时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="start_time" name="start_time" value="{$info.start_time}"  class="input-txt">
                    <span class="err" id="err_start_time"></span>
                    <p class="notic">合伙人身份开始时间</p>
                    <p class="hint" style="color:red"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>结束时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="end_time" name="end_time" value="{$info.end_time}" class="input-txt">
                    <span class="err" id="err_end_time"></span>
                    <p class="notic">合伙人身份结束时间</p>
                </dd>
            </dl>
            <div class="bot"><a onclick="verifyForm()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#start_time').layDate();
        $('#end_time').layDate();
    })
    var ajax_return_status = 1; // 标识ajax 请求是否已经回来 可以进行下一次请求
    function verifyForm(){
        $('span.err').hide();
        if (ajax_return_status == 0) {
            return false;
        }
        ajax_return_status = 0;
        var formData = $('#handleposition').serialize();
        $.ajax({
            type: "POST",
            url: "{:U('Admin/Distribution/savePartner')}",
            data: $('#handleposition').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    ajax_return_status = 1;
                    layer.msg(data.msg, {icon: 1, time: 1000}, function(){
                        location.href = "{:U('Admin/Distribution/partnerList')}";
                    });
                } else {
                    layer.msg(data.msg, {icon: 2,time: 1000});
                    if (data.result) {
                        $.each(data.result, function (index, item) {
                            $('#err_' + index).text(item).show();
                        });
                    }
                    ajax_return_status = 1;
                }
            }
        });
    }
    function selectUser(type){ //type 等于a 选择服务商
        var url = "{:U('User/search_user_return_html')}";
        if (type == 'a') {
            var user_id = $("input[name=agent_user_id]").val();
            url += '?user_id='+user_id+"&type=a";
        } else {
            var user_id = $("input[name=user_id]").val();
            url += '?user_id='+user_id;
        }
        layer.open({
            type: 2,
            title: '选择用户',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
    }
    function call_back(userItem){
        if (userItem.userType == 'a') {
            $("input[name=agent_user_name]").val(userItem.nickname);
            $("input[name=agent_user_id]").val(userItem.user_id);
        } else {
            $("input[name=user_name]").val(userItem.nickname);
            $("input[name=user_id]").val(userItem.user_id);
        }
        layer.closeAll('iframe');
    }

</script>
</body>
</html>