<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>分销2.0 - 合伙人申请明细</h3>
                <h5>网站分销2.0管理合伙人申请</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="editForm" method="post">
        <input type="hidden" name="id" value="{$data.id}">
        <input type="hidden" name="user_id" value="{$data.user_id}">
        <input type="hidden" id="status" name="status" value="{$data[status]}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>用户id</label>
                </dt>
                <dd class="opt">
                    <a class="open" href="{:U('Admin/user/detail',array('id'=>$data[user_id]))}" target="blank">
                        {$data[user_id]}<i class="fa fa-external-link " title="新窗口打开"></i>
                    </a>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>用户名</label>
                </dt>
                <dd class="opt">{$data.nickname}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>申请方式</label>
                </dt>
                <dd class="opt">{$data.channel_type}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>申请时间</label>
                </dt>
                <dd class="opt">{$data.apply_time}</dd>
            </dl>
            <input name="agent_user_id" type="hidden" value="{$agent_user.user_id}">
            <dl class="row">
                <dt class="tit">
                    <label>服务商信息</label>
                </dt>
                <dd class="opt">
                    <if condition="$agent_user">昵称：{$agent_user.nickname}<br>电话：{$agent_user.mobile}
                        <else/>没有检测到服务商信息</if>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>状态</label>
                </dt>
                <dd class="opt">{$data.status_desc}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>审核时间</label>
                </dt>
                <dd class="opt">{$data.deal_time}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">备注</dt>
                <dd class="opt">
                    <if condition="in_array($data[status],array(0,2))">
                        <textarea class="input-txt" rows="4" cols="60" id="deal_result" name="deal_result" required="required" >{$data.deal_result}</textarea>
                        <else/>
                        {$data.deal_result|default='--'}
                    </if>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>申请流程</label>
                </dt>
                <dd class="opt">
                    1:用户扫描服务商的二维码且在有效期内申请，付款成功后自动生成申请.<br/>
                    2:管理员审核通过后，用户身份就变成了合伙人身份. <br/>
                </dd>
            </dl>
            <div class="bot">
                <if condition="in_array($data[status],array(0,2))">
                    <a href="JavaScript:audit_pass();" class="ncap-btn-big ncap-btn-green">同意成为合伙人</a>
                </if>
                <if condition="$data[status] eq 0">
                    <a href="JavaScript:audit_fail();" class="ncap-btn-big ncap-btn-green">拒绝申请</a>
                </if>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 确定提现
    function audit_pass()
    {
        if ($("input[name=agent_id]").val() == '') {
            layer.alert('没有检测到服务商信息');
            return false;
        }
        layer.confirm('确定同意用户成为合伙人吗?', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    // 确定
                    $('#status').val('1');
                    $.ajax({
                        type : "POST",
                        url:"{:U('Admin/Distribution/dealPartnerApply')}",
                        data : $('#editForm').serialize(),
                        dataType: "json",
                        success: function(data){
                            if(data.status == 1){
                                layer.alert(data.msg, {icon: 1});
                                location.reload();
                            }else{
                                layer.alert(data.msg, {icon: 2});
                            }
                        }
                    });
                }, function (index) {
                    layer.close(index);
                }
        );
    }
    // 拒绝提现
    function audit_fail() {
        if ($.trim($('#deal_result').val()).length == 0) {
            layer.alert('请填写拒绝备注', {icon: 2});
            return false;
        }
        layer.confirm('拒绝 该用户申请吗?', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    // 确定
                    $('#status').val('2');
                    $.ajax({
                        type : "POST",
                        url:"{:U('Admin/Distribution/dealPartnerApply')}",
                        data : $('#editForm').serialize(),
                        dataType: "json",
                        success: function(data){
                            if(data.status == 1){
                                layer.alert(data.msg, {icon: 1});
                                location.reload();
                            }else{
                                layer.alert(data.msg, {icon: 2});
                            }
                        }
                    });
                }, function (index) {
                    layer.close(index);
                }
        );

    }
</script>
</body>
</html>