<include file="public/layout" />
<script type="text/javascript" src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<style>
	.flexigrid .tDiv{border: none;background: transparent;}
	.flexigrid .fbutton{border-right: dotted 0px transparent;}
	.clearfix{clear: both;overflow: hidden;}
	.fl{float: left;}
	.fr{float: right;}
	.flexigrid .bDiv td div{height: auto;padding: 0;margin: 0;}
	.flexigrid .bDiv td>div{padding: 10px 8px;line-height: 42px;}
	.flexigrid .bDiv td div.avatar{  width: 34px;height: 34px;margin-top: 5px;border-radius:34px;border: 1px solid #ddd;overflow: hidden;}
	.avatar img{width: 100%;height: 100%;}
	.flexigrid .mDiv{margin: 15px 0 30px;border: none;}
	.flexigrid .bDiv a.btn{margin-top: 10px;}
</style>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>合伙人列表</h3>
				<h5>合伙人列表</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style=" width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>合伙人列表</li>
		</ul>
	</div>
	<div class="flexigrid ">
		<div class="tDiv">
			<div class="tDiv2">
				<!--<div class="fbutton" style="margin-left: 0;">-->
					<!--<a href="javascript:exportReport()">-->
						<!--<div class="add" title="选定行数据导出excel文件,如果不选中行，将导出列表所有数据">-->
							<!--<span><i class="fa fa-share"></i>导出数据</span>-->
						<!--</div>-->
					<!--</a>-->
				<!--</div>-->
				<div class="fbutton" style="">
					<a href="/index.php?m=Admin&c=Distribution&a=addPartner">
						<div class="add" title="添加合伙人">
							<span><i class="fa fa-plus"></i>添加合伙人</span>
						</div>
					</a>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>

	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>合伙人列表</h3>
				<h5></h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
			<form class="navbar-form form-inline"  method="post" action="" name="search-form2" id="search-form2">
				<input type="hidden" name="user_ids" value="">
				<input type="hidden" name="order_by" value="be_partner_start">
				<input type="hidden" name="sort" value="desc">
				<!--用于查看结算统计 包含了哪些订单-->
				<div class="sDiv">
					<div class="sDiv2">
						<select name="status" class="select sDiv3" style="margin-right:5px;margin-left:5px">
							<option value="0">全部</option>
							<option value="1" selected="selected">正常</option>
							<option value="2">已过期</option>
							<option value="3">已解除</option>
						</select>
					</div>
					<div class="sDiv2" style="margin-right: 10px;">
						<input type="text" size="30" name="start_time" id="start_time" value="" placeholder="申请起始时间" class="qsbox">
						<input type="button" class="btn" value="申请起始时间">
					</div>
					<div class="sDiv2" style="margin-right: 10px;">
						<input type="text" size="30" name="end_time" id="end_time" value="" placeholder="申请截止时间" class="qsbox">
						<input type="button" class="btn" value="申请截止时间">
					</div>
					<div class="sDiv2">
						<select name="identity" id="identity" class="select">
							<option value="1">合伙人</option>
							<option value="2">服务商</option>
						</select>
						<input type="text" size="30" name="keywords" id="keywords" class="qsbox" placeholder="手机号/真实姓名">
					</div>

					<div class="sDiv2">
						<input type="button" onclick="ajax_get_table('search-form2',1)"  class="btn" value="搜索">
					</div>
				</div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox" id="ajax_return">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" abbr="user_id" axis="col3" class="">
							<div style="text-align: center; width: 60px;" class="">用户ID</div>
						</th>
						<th align="left"  axis="col4" class="">
							<div style="text-align: center; min-width: 170px;" class="">用户信息</div>
						</th>
						<th align="center" axis="col5" class="">
							<div style="text-align: center; min-width: 150px;" class="">实名信息</div>
						</th>
						<th align="center" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">服务商</div>
						</th>
						<th align="center" abbr="firstUserNum" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">一级会员</div>
						</th>
						<th align="center" abbr="secondUserNum" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">二级会员</div>
						</th>
						<th align="center" abbr="overSecondUserNum" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">缤纷会员</div>
						</th>
						<th align="center" abbr="today_earns" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">今日收益</div>
						</th>
						<th align="center" abbr="total_earns" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">累计收益</div>
						</th>

						<th align="center" axis="col6" class="">
							<div style="text-align: center; width: 120px;" class="">状态</div>
						</th>
						<th align="center" abbr="be_partner_start" axis="col6" class="">
							<div style="text-align: center; width: 120px;" class="">申请时间</div>
						</th>
						<th align="left" axis="col1" class="handle">
							<div style="text-align: left; width: 150px;">操作</div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">

			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#start_time').layDate();
        $('#end_time').layDate();
        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

        ajax_get_table('search-form2',1);

        $('.ico-check ' , '.hDivBox').click(function(){
            $('tr' ,'.hDivBox').toggleClass('trSelected' , function(index,currentclass){
                var hasClass = $(this).hasClass('trSelected');
                $('tr' , '#flexigrid').each(function(){
                    if(hasClass){
                        $(this).addClass('trSelected');
                    }else{
                        $(this).removeClass('trSelected');
                    }
                });
            });
        });

    });



    // 点击刷新数据
    var ssort = 'sasc';
    var on_sclick = 0;
    $('.hDivBox > table>thead>tr>th').hover(
        function () {
            if(typeof($(this).attr('abbr')) == "undefined"){
                return false;
            }
            $(this).addClass('thOver');
            if($(this).hasClass('sorted')){
                if(ssort == 'sasc'){
                    $(this).find('div').removeClass('sasc');
                    $(this).find('div').addClass('sdesc');
                }else{
                    $(this).find('div').removeClass('sdesc');
                    $(this).find('div').addClass('sasc');
                }
            }else{
                $(this).find('div').addClass(ssort);
            }
        }, function () {
            if(typeof($(this).attr('abbr')) == "undefined"){
                return false;
            }
            if(on_sclick == 0){
                if($(this).hasClass('sorted')){
                    if(ssort == 'sdesc'){
                        $(this).find('div').removeClass('sasc');
                        $(this).find('div').addClass('sdesc');
                    }else{
                        $(this).find('div').removeClass('sdesc');
                        $(this).find('div').addClass('sasc');
                    }
                }else{
                    $(this).find('div').removeClass(ssort);
                }
            }
            $(this).removeClass("thOver");
            on_sclick = 0;
        }
    );
    $('.hDivBox > table>thead>tr>th').click(function(){

        if(!$(this).hasClass("currentDom")){
            $(this).parent().find("th").removeClass("currentDom");
            $(this).addClass("currentDom");
            $("input[name='sort']").val("desc");
            console.log("第一次点，直接正确.");
		}


            if(typeof($(this).attr('abbr')) == "undefined"){
                return false;
            }
            if($(this).hasClass('sorted')){
                $(this).find('div').removeClass(ssort);
                if(ssort == 'sdesc'){
                    ssort = 'sasc';
                }else{
                    ssort = 'sdesc';
                }
                $(this).find('div').addClass(ssort);
                on_sclick = 1;
            }else{
                $('.hDivBox > table>thead>tr>th').removeClass('sorted');
                $('.hDivBox > table>thead>tr>th').find('div').removeClass(ssort);
                $(this).addClass('sorted');
                $(this).find('div').addClass(ssort);
                var hDivBox_th_index = $(this).index();
                var flexigrid_tr =   $('#flexigrid > table>tbody>tr')
                flexigrid_tr.each(function(){
                    $(this).find('td').removeClass('sorted');
                    $(this).children('td').eq(hDivBox_th_index).addClass('sorted');
                });
            }


            if( $(this).children("div").hasClass("sasc") ){
                $("input[name='sort']").val("desc");
			}else {
                $("input[name='sort']").val("asc");
            }

            sort($(this).attr('abbr'));


    });

    $('.fa-refresh').click(function(){
        location.href = location.href;
    });

    //选中全部
    $('.hDivBox .sign').click(function(){
        var sign = $('#flexigrid > table>tbody>tr');
        if($(this).parent().hasClass('trSelected')){
            sign.each(function(){
                $(this).removeClass('trSelected');
            });
            $(this).parent().removeClass('trSelected');
        }else{
            sign.each(function(){
                $(this).addClass('trSelected');
            });
            $(this).parent().addClass('trSelected');
        }
    });

    //ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"/index.php/Admin/distribution/partnerList/p/"+page,//+tab,
            data : $('#'+tab).serialize(),// 你的formid
            success: function(data){
                $("#flexigrid").html('');
                $("#flexigrid").append(data);

                // 表格行点击选中切换
                $('#flexigrid > table>tbody >tr').click(function(){
                    $(this).toggleClass('trSelected');
                });

            }
        });
    }

    // 点击排序
    function sort(field){
        $("input[name='order_by']").val(field);
        //切换顺序
		var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        console.log($('#search-form2').serialize());

        ajax_get_table('search-form2',cur_page);
    }

    function exportReport(){
        var selected_ids = '';
        $('.trSelected' , '#flexigrid').each(function(i){
            selected_ids += $(this).data('user-id')+',';
        });
        if(selected_ids != ''){
            $('input[name="user_ids"]').val(selected_ids.substring(0,selected_ids.length-1));
        }
        $('#search-form2').submit();
    }


</script>
</body>
</html>