<include file="public/layout" />
<script type="text/javascript" src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<style>
    .typeTab {float: left!important;margin-right: 144px;}

    .newTypeTab li{
        width: 100px;
        height: 40px;
        background-color: #F1F5F8;
        font-size: 16px;
        color: #1E1B1B;
        margin-left: 1px;
        text-align: center;
        line-height: 40px;
        border-radius: 1px;
        cursor:pointer;
    }
    .newTypeTab{border: 1px solid #ddd;border-bottom: none;border-radius: 15px 15px 0 0;overflow: hidden}
    .currentChange{
        background-color: #fff!important;
        color: rgba(24, 144, 255, 1)!important;
    }
</style>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>全球购管理</h3>
                <h5>商城全球购商品查询及管理</h5>
            </div>

        </div>
    </div>
     操作说明
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
    <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
    <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
    <span title="收起提示" id="explanationZoom" style="display: block;"></span>
    </div>
    <ul>
    <li>点击编辑操作将展示并可编辑详细信息</li>
    <li>点击选择商品导入该馆商品</li>
    </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv" style="margin-bottom: 10px;">
            <div class="ftitle">
                <h3>全球购场馆列表</h3>
                <h5></h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>

            <form class="navbar-form form-inline"  method="post" action=""  name="search-form2" id="search-form2">
                <input type="hidden" name="sort" value="desc">
                <input type="hidden" name="typeTab" value=""  class="typeTabVal">


                <div class="sDiv" style="padding-top: 10px;width: 100%">
                    <!--<div class="typeTab">-->
                        <!--<ul class="tab-base nc-row newTypeTab">-->
                            <!--<li class="currentChange"><span>全部场馆</span></li>-->
                            <!--<li value="1"><span>首页推荐</span></li>-->
                            <!--<li value="2"><span>未推荐</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <div class="sDiv2" id="searchText">
                        <input type="text" size="30" style="width:220px;" name="keywords" class="qsbox" placeholder="场馆名称、关联国家" value="{$search.keywords}">
                    </div>
                    <div class="sDiv2">
                        <input type="button"  onclick="ajax_get_table('search-form2',1)" class="btn" value="搜索">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox" id="ajax_return">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th axis="col0">
                            <div style="width: 24px;"><i class="ico-check sign"></i></div>
                        </th>
                        <th align="center" abbr="hall_id" axis="col3" class="">
                            <div style="text-align: left; width: 140px;" class="orderState">场馆ID</div>
                        </th>
                        <th align="center"  axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">场馆名</div>
                        </th>
                        <th align="center"  axis="col6" class="">
                            <div style="text-align: left; width: 120px;" class="userSort">场馆英文名</div>
                        </th>
                        <th align="center" axis="col4" class="">
                            <div style="text-align: left; width: 120px;" class="">Banner图</div>
                        </th>
                        <th align="center" axis="col4" class="">
                            <div style="text-align: center; width: 200px;" class="sortNum">关联国家</div>
                        </th>
                        <th align="center" axis="col5" class="">
                            <div style="text-align: center; width: 80px;" class="sortAmount">推荐商品</div>
                        </th>
                        <th align="center"   axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">热门品牌</div>
                        </th>
                        <th align="center"  axis="col6" class="">
                            <div style="text-align: center; width: 180px;" class="">添加时间</div>
                        </th>
                        <!--<th align="center"  axis="col4" class="">-->
                            <!--<div style="text-align: left; width: 100px;" class="">首页推荐?</div>-->
                        <!--</th>-->
                        <th align="center" axis="col1" class="">
                            <div style="text-align: center; width: 180px;">操作</div>
                        </th>

                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <a href="{:U('GlobalPurchase/addEdit')}">
                    <div class="fbutton">
                        <div title="添加场馆" class="add">
                            <span><i class="fa fa-plus"></i>添加场馆</span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">

            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
    </div>
</div>
<script type="text/javascript">
    function form_submit(v){
        $('#export').val(v);
        var selected_ids = '';
        $('.trSelected' , '#flexigrid').each(function(i){
            selected_ids += $(this).data('order-id')+',';
        });
        if(selected_ids != ''){
            $('input[name="order_ids"]').val(selected_ids.substring(0,selected_ids.length-1));
        }
        $('#search-form2').submit();
        $('#export').val(0);
    }

    ajax_get_table('search-form2',1);

    $(document).ready(function(){

        // 起始位置日历控件
        laydate.skin('molv');//选择肤色
        laydate({
            elem: '#add_time_begin',
            format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
            istime: false,
            choose: function(datas){ //选择日期完毕的回调
                compare_time($('#add_time_begin').val(),$('#add_time_end').val());
            }
        });

        // 结束位置日历控件
        laydate({
            elem: '#add_time_end',
            format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
            istime: false,
            choose: function(datas){ //选择日期完毕的回调
                compare_time($('#add_time_begin').val(),$('#add_time_end').val());
            }
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

        ajax_get_table('search-form2',1);

        $('.ico-check ' , '.hDivBox').click(function(){
            $('tr' ,'.hDivBox').toggleClass('trSelected' , function(index,currentclass){
                var hasClass = $(this).hasClass('trSelected');
                $('tr' , '#flexigrid').each(function(){
                    if(hasClass){
                        $(this).addClass('trSelected');
                    }else{
                        $(this).removeClass('trSelected');
                    }
                });
            });
        });


    });

    //选项卡
    $('.typeTab li ').click(function() {
        var v = $(this).val();
        $("input[name='typeTab']").val(v);
        ajax_get_table('search-form2',1);
        $(".typeTab li").eq($(this).index()).addClass("currentChange").siblings().removeClass('currentChange');
    });

    // 点击刷新数据
    var ssort = 'sasc';
    var on_sclick = 0;
    $('.hDivBox > table>thead>tr>th').hover(
        function () {
            if(typeof($(this).attr('abbr')) == "undefined"){
                return false;
            }
            $(this).addClass('thOver');
            if($(this).hasClass('sorted')){
                if(ssort == 'sasc'){
                    $(this).find('div').removeClass('sasc');
                    $(this).find('div').addClass('sdesc');
                }else{
                    $(this).find('div').removeClass('sdesc');
                    $(this).find('div').addClass('sasc');
                }
            }else{
                $(this).find('div').addClass(ssort);
            }
        }, function () {
            if(typeof($(this).attr('abbr')) == "undefined"){
                return false;
            }
            if(on_sclick == 0){
                if($(this).hasClass('sorted')){
                    if(ssort == 'sdesc'){
                        $(this).find('div').removeClass('sasc');
                        $(this).find('div').addClass('sdesc');
                    }else{
                        $(this).find('div').removeClass('sdesc');
                        $(this).find('div').addClass('sasc');
                    }
                }else{
                    $(this).find('div').removeClass(ssort);
                }
            }
            $(this).removeClass("thOver");
            on_sclick = 0;
        }
    );
    $('.hDivBox > table>thead>tr>th').click(function(){

        if(!$(this).hasClass("currentDom")){
            $(this).parent().find("th").removeClass("currentDom");
            $(this).addClass("currentDom");
            $("input[name='sort']").val("desc");
        }


        if(typeof($(this).attr('abbr')) == "undefined"){
            return false;
        }
        if($(this).hasClass('sorted')){
            $(this).find('div').removeClass(ssort);
            if(ssort == 'sdesc'){
                ssort = 'sasc';
            }else{
                ssort = 'sdesc';
            }
            $(this).find('div').addClass(ssort);
            on_sclick = 1;
        }else{
            $('.hDivBox > table>thead>tr>th').removeClass('sorted');
            $('.hDivBox > table>thead>tr>th').find('div').removeClass(ssort);
            $(this).addClass('sorted');
            $(this).find('div').addClass(ssort);
            var hDivBox_th_index = $(this).index();
            var flexigrid_tr =   $('#flexigrid > table>tbody>tr')
            flexigrid_tr.each(function(){
                $(this).find('td').removeClass('sorted');
                $(this).children('td').eq(hDivBox_th_index).addClass('sorted');
            });
        }


        if( $(this).children("div").hasClass("sasc") ){
            $("input[name='sort']").val("desc");
        }else {
            $("input[name='sort']").val("asc");
        }

        sort($(this).attr('abbr'));


    });

    $('.fa-refresh').click(function(){
        location.href = location.href;
    });

    //选中全部
    $('.hDivBox .sign').click(function(){
        var sign = $('#flexigrid > table>tbody>tr');
        if($(this).parent().hasClass('trSelected')){
            sign.each(function(){
                $(this).removeClass('trSelected');
            });
            $(this).parent().removeClass('trSelected');
        }else{
            sign.each(function(){
                $(this).addClass('trSelected');
            });
            $(this).parent().addClass('trSelected');
        }
    });

    //ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"/index.php/Admin/GlobalPurchase/index/p/"+page,//+tab,
            data : $('#'+tab).serialize(),// 你的formid
            success: function(data){
                $("#flexigrid").html('');
                $("#flexigrid").append(data);

                // 表格行点击选中切换
                $('#flexigrid > table>tbody >tr').click(function(){
                    $(this).toggleClass('trSelected');
                });

            }
        });
    }

    // 点击排序
    function sort(field){
        $("input[name='order_by']").val(field);
        //切换顺序
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);

        ajax_get_table('search-form2',cur_page);
    }







</script>
</body>
</html>